* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #242424;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #242424;
}
